:root {
    --tema: yellow;
}

* {
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}


main {
    margin: 1% 5%;
}

.judul {
    border-bottom: #30363d solid 1px;
    padding-bottom: 7.5px;
}

#me {
    margin: 2% 0;
}

.gambarsaya {
    width: 25%;
    border: #30363d solid 1pt;
    border-radius: 50%;
	transform: scale(1);
	transition: .3s ease-in-out;
}

.gambarsaya:hover {
	transform: scale(1.1);
}

.nama {
    margin: 15px 0;
}

.nama h5 {
    color: var(--tema);
}

#musik div {
    position: relative;
    text-align: center;
    margin: 5px 10px;
}

#musik h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#musik img {
    width: 100%;
    height: 100px; 
    object-fit: cover;
    filter: blur(5px) brightness(70%);
}

.box-set {
    border: #30363d solid 1px;
    border-radius: 6px;
    margin: 1% 0;
}